/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("http://static.hogwartsishere.com/media/profile_covers/images_Textures_book_13_book.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: auto;
}
