<div CLASS="Hevar">
    <table class="table">
      <thead class="thead-light">
      <tr class="table1">
        <th scope="col" class="table1">BiebNaam</th>
        <th scope="col" class="table1">Plaats</th>
        <th scope="col" class="table1">Straat</th>
        <th scope="col" class="table1">Nummer</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let Bieb of biebOverzicht" class="table1">
        <td  class="table1"><a routerLink="/bieb/{{Bieb.id}}">{{Bieb.biebNaam}}</a></td>
        <td  class="table1">{{Bieb.straat}}</td>
        <td  class="table1">{{Bieb.nummer}}</td>
        <td  class="table1">{{Bieb.plaats}}</td>
        <!--<td> {{Bieb.beheerder}}</td>-->
        <td><button (click)="delete(Bieb.id)" class="delete">del</button></td>
      </tr>

    </tbody>
  </table>
  <button (click)="gaTerug()">ga terug</button>
</div>
