<div CLASS="Hevar">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">BiebNaam</th>
      <th scope="col">Plaats</th>
      <th scope="col">Straat</th>
      <th scope="col">Nummer</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let Bieb of biebOverzicht">
      <td><a routerLink="/bieb/{{Bieb.id}}">{{Bieb.biebNaam}}</a></td>
      <td>{{Bieb.straat}}</td>
      <td>{{Bieb.nummer}}</td>
      <td>{{Bieb.plaats}}</td>
      <!--<td> {{Bieb.beheerder}}</td>-->
      <!--<td><button (click)="delete(Bieb.id)">del</button></td>-->
    </tr>

    </tbody>
  </table>

</div>
