<body>
<div *ngIf="bieb">
  <div class="bg"></div>

  <p class="py-5 text-center">

  <h2>{{bieb.biebNaam}}</h2>

</div>

<a routerLink="/boek-overzicht/{{id}}">overzicht van de boeken</a><br>
<a routerLink="/voeg-boek-toe/{{id}}">voeg boek toe</a><br>

<img src="https://lh3.googleusercontent.com/vHEi8KcqjRbwcYpH3K2MW1kqct01q29Wrp5z8__WXN3Ncx1CSQraiRURFCQJuyFi1SA_4WhmC8LdxSCxfMuTd326X-a3m3FeBMTdBYvEJx4voWNmh0R0zPgnn6knRY_Twf1sO5mcQLytGBt6AgHkvl9IkVZDB_GcOcr7l2Af_WG0nDpvkT2SgHCz5a8RjabYA0gYFsh3jLaMy9uNhgucNuAglxZRWOoe0U7NE4XinbEAQpfise9V4bEzlNxBK08N_1VK-3iIbCOD7fRtm8K1h0Os1LKRTteF_FdZKdjtWGr28qO-hLGOpiIA_XtcuAb99xyb8LdPTMeZoOeBlpDh3seIkSVwKyUYcsJOTuWZtjjpn50uEMEaUPyhshQOOuKEeJooWvBP1NjjdEgG3aNC_VZH3TlQeocwh9an31-_10IqV_2L22CC5ILKLSUROwAoh8MU5McHuai642MoQ3TaWLUH8wuY_R1iEXmzOPVe7EyEu6S6Cb3t4OY3qvBHi75b3BW4HKeus1d3FCDc1RQLFucGXau_-7stKOiVUD0gaCwLMNOugUEWm0k3TWCq6vdMcOf6wRdM_XpAdGowUX_KEbYljKgyy1Ls1PNqYJ55cy-QcpEE4_DTkOn3Gl3huSO0ztPJOT8iW-6Z_-j2khG4MhPznd2vVhE=w510-h903-no">

</body>

<button (click)="gaTerug()">ga terug</button>
